/* При создании этого небольшого приложения стили прописывались инлайново(в ТЗ не было соответствующего регламента). Для более крупного проекта, ясен пень, используйте модульный подход */

body {
  background-color: #fafafa;
}

.active {
  border-bottom: 2px solid blue;
  padding-bottom: 12px;
}